[submodule "libraries/backtrace"]
	path = libraries/backtrace
	url = https://github.com/red-rocket-computing/backtrace.git
[submodule "mw320_sdk"]
	path = mw320_sdk
	url = https://github.com/marcusb/mw320_sdk.git
