[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "libraries/backtrace"]
	path = libraries/backtrace
	url = https://github.com/red-rocket-computing/backtrace.git
