# Ignore MacOS file system related.
**/*.DS_Store*

.ccls-cache/
.python-version
.vscode/
# Ignore build results
/build/
/build-native/
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ebug_with_Libslirp/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# CodeWarrior temporary files
*.tdt
CWSettingsWindows.stg

# Executable Files
*.exe
*.hex
*.bin
*.elf
*.out
*.rom

