[submodule "libraries/backtrace"]
	path = libraries/backtrace
	url = git@github.com:marcusb/backtrace.git
[submodule "mw320_sdk"]
	path = mw320_sdk
	url = https://github.com/marcusb/mw320_sdk.git
[submodule "connectedhomeip"]
	path = third_party/connectedhomeip
	url = https://github.com/project-chip/connectedhomeip.git
	shallow = true
