# SPDX-License-Identifier: Apache-2.0

mainmenu "Sesame"

source "Kconfig.zephyr"

rsource "drivers/Kconfig"

config FORCE_FLASH_PAGE_LAYOUT
	bool
	default y
	select FLASH_HAS_PAGE_LAYOUT


config SESAME_TEST
    bool "Enable test hooks for hardware system testing"
    default n
