# SPDX-License-Identifier: Apache-2.0

mainmenu "Sesame"

source "Kconfig.zephyr"

rsource "drivers/Kconfig"

config FORCE_FLASH_PAGE_LAYOUT
	bool
	default y
	select FLASH_HAS_PAGE_LAYOUT

config ENTROPY_MW320
	bool "MW320 Entropy Driver"
	default y
	select ENTROPY_HAS_DRIVER
