#include <arm/armv7-m.dtsi>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	flash0: flash@1f000000 {
		compatible = "soc-nv-flash";
		reg = <0x1f000000 0x800000>;
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		interrupt-parent = <&nvic>;
		ranges;

		sram0: sram@100000 {
			compatible = "mmio-sram";
			reg = <0x00100000 0x5EFC0>;
		};

		sram1: sram@20000000 {
			compatible = "mmio-sram";
			reg = <0x20000000 0x20000>;
		};

		uart0: uart@46040000 {
			compatible = "nxp,mw320-uart";
			reg = <0x46040000 0x1000>;
			interrupts = <1 0>;
			status = "disabled";
		};

		gpio0: gpio@46060000 {
			compatible = "nxp,mw320-gpio";
			reg = <0x46060000 0x1000>;
			interrupts = <2 0>;
			gpio-controller;
			#gpio-cells = <2>;
			port = <0>;
			ngpios = <32>;
			status = "disabled";
		};

		gpio1: gpio@46060000_1 {
			compatible = "nxp,mw320-gpio";
			reg = <0x46060000 0x1000>;
			interrupts = <2 0>;
			gpio-controller;
			#gpio-cells = <2>;
			port = <1>;
			ngpios = <18>;
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
