/ {
	aliases {
		pic-uart = &uart1;
		pic-rst = &pic_rst;
		pic-wake = &pic_wake;
	};

	buttons {
		compatible = "gpio-keys";
		pic_rst: pic_rst {
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
			label = "PIC Reset";
		};
		pic_wake: pic_wake {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "PIC Wake";
		};
	};
};

&uart1 {
	status = "okay";
	compatible = "zephyr,native-tty-uart";
	current-speed = <115200>;
	serial-port = "/tmp/sesame_pic_uart";
};
