&flash0 {
    partitions {
        psm_partition: partition@100000 {
            compatible = "zephyr,mapped-partition";
            label = "psm";
            reg = <0x00100000 0x00010000>;
        };
    };
};
