rsource "gpio/Kconfig"
rsource "serial/Kconfig"
rsource "entropy/Kconfig"
rsource "pinctrl/Kconfig"
rsource "wifi/mw320/Kconfig"
rsource "watchdog/Kconfig"
rsource "flash/Kconfig"
rsource "counter/Kconfig"
rsource "bbram/Kconfig"
