/ {
	leds {
		compatible = "gpio-leds";

		led_ota_blue: led_ota_blue {
			gpios = <&gpio0 16 1>;
			label = "OTA LED Blue";
		};

		led_ota_green: led_ota_green {
			gpios = <&gpio0 27 1>;
			label = "OTA LED Green";
		};

		led_ota_red: led_ota_red {
			gpios = <&gpio1 8 1>;
			label = "OTA LED Red";
		};

		led_wifi_blue: led_wifi_blue {
			gpios = <&gpio1 9 1>;
			label = "WiFi LED Blue";
		};

		led_wifi_green: led_wifi_green {
			gpios = <&gpio1 10 1>;
			label = "WiFi LED Green";
		};

		led_wifi_red: led_wifi_red {
			gpios = <&gpio1 11 1>;
			label = "WiFi LED Red";
		};
	};

	buttons {
		compatible = "gpio-keys";

		sw_wifi: sw_wifi {
			label = "WiFi Button";
			gpios = <&gpio0 22 1>;
		};

		sw_ota: sw_ota {
			label = "OTA Button";
			gpios = <&gpio0 23 1>;
		};
	};
};
