/dts-v1/;
#include "marvell_mw302_88mw320_cpu0.dts"
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	model = "Genie Integrated Door Control Module Board 39732R.S";
	compatible = "marvell,mw302", "nxp,88mw320";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,entropy = &entropy_mw320;
	};

	aliases {
		pic-uart = &uart1;
		pic-rst = &pic_rst;
		pic-wake = &pic_wake;
	};

	leds {
		compatible = "gpio-leds";

		led_ota_blue: led_ota_blue {
			gpios = <&gpio0 16 1>;
			label = "OTA LED Blue";
		};

		led_ota_green: led_ota_green {
			gpios = <&gpio0 27 1>;
			label = "OTA LED Green";
		};

		led_ota_red: led_ota_red {
			gpios = <&gpio1 8 1>;
			label = "OTA LED Red";
		};

		led_wifi_blue: led_wifi_blue {
			gpios = <&gpio1 9 1>;
			label = "WiFi LED Blue";
		};

		led_wifi_green: led_wifi_green {
			gpios = <&gpio1 10 1>;
			label = "WiFi LED Green";
		};

		led_wifi_red: led_wifi_red {
			gpios = <&gpio1 11 1>;
			label = "WiFi LED Red";
		};
	};

	buttons {
		compatible = "gpio-keys";

		sw_wifi: sw_wifi {
			label = "WiFi Button";
			gpios = <&gpio0 22 1>;
		};

		sw_ota: sw_ota {
			label = "OTA Button";
			gpios = <&gpio0 23 1>;
		};

		pic_rst: pic_rst {
			label = "PIC Reset";
			gpios = <&gpio1 16 GPIO_ACTIVE_LOW>;
		};

		pic_wake: pic_wake {
			label = "PIC Wake";
			gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
		};
	};
};



&gpio_default {
	group1 {
		pinmux = <MW320_PINMUX(16, 0)>, /* LED OTA BLUE */
		         <MW320_PINMUX(27, 0)>, /* LED OTA GREEN */
		         <MW320_PINMUX(40, 0)>, /* LED OTA RED */
		         <MW320_PINMUX(41, 0)>, /* LED WIFI BLUE */
		         <MW320_PINMUX(42, 0)>, /* LED WIFI GREEN */
		         <MW320_PINMUX(43, 0)>, /* LED WIFI RED */
		         <MW320_PINMUX(22, 1)>, /* SW WIFI */
		         <MW320_PINMUX(23, 1)>, /* SW OTA */
		         <MW320_PINMUX(0, 0)>,  /* GPIO0 */
		         <MW320_PINMUX(1, 0)>,  /* GPIO1 */
		         <MW320_PINMUX(46, 0)>, /* GPIO46 */
		         <MW320_PINMUX(48, 0)>, /* GPIO48 */
		         <MW320_PINMUX(49, 0)>; /* GPIO49 */
	};
};

&gpio0 {
	ota_blue_hog {
		gpio-hog;
		gpios = <16 GPIO_ACTIVE_LOW>;
		output-high;
	};
	
	ota_green_hog {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_LOW>;
		output-low;
	};

	pic_pin0_hog {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-low;
	};

	pic_pin1_hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&gpio1 {
	ota_red_hog {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_LOW>;
		output-low;
	};

	wifi_blue_hog {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_LOW>;
		output-high;
	};

	wifi_green_hog {
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_LOW>;
		output-low;
	};

	wifi_red_hog {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_LOW>;
		output-low;
	};

	pic_pin46_hog {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};
