if BOARD_MARVELL_MW302 || BOARD_GENIE_IDCM || BOARD_MARVELL_MW302_RAM || BOARD_GENIE_IDCM_RAM

config BOARD
	default "marvell_mw302" if BOARD_MARVELL_MW302
	default "genie_idcm" if BOARD_GENIE_IDCM
	default "marvell_mw302_ram" if BOARD_MARVELL_MW302_RAM

endif
