/dts-v1/;
#include "../../../soc/nxp/88mw320/88mw320.dtsi"
#include <dt-bindings/pinctrl/mw320-pinctrl.h>
#include "genie_idcm.dts"

/ {
	model = "Marvell MW302 Development Board";
	compatible = "marvell,mw302", "nxp,88mw320";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot2_partition: partition@0 {
			label = "boot2";
			reg = <0x00000000 0x00018000>;
		};
		wififw_partition: partition@18000 {
			label = "wififw";
			reg = <0x00018000 0x00044000>;
		};
		psm_partition: partition@5c000 {
			label = "psm";
			reg = <0x0005C000 0x00018000>;
		};
		slot0_partition: partition@74000 {
			label = "image-0";
			reg = <0x00074000 0x000C8000>;
		};
		slot1_partition: partition@13c000 {
			label = "image-1";
			reg = <0x0013C000 0x000C8000>;
		};
	};
};

&pinctrl {
	uart0_default: uart0_default {
		group0 {
			pinmux = <MW320_PINMUX(2, 2)>,  /* UART0 TX */
			         <MW320_PINMUX(3, 2)>;  /* UART0 RX */
		};
	};

	uart1_default: uart1_default {
		group0 {
			pinmux = <MW320_PINMUX(44, 2)>, /* UART1 TX */
			         <MW320_PINMUX(45, 2)>; /* UART1 RX */
		};
	};

	gpio_default: gpio_default {
		group0 {
			pinmux = <MW320_PINMUX(16, 0)>, /* LED OTA BLUE */
			         <MW320_PINMUX(27, 0)>, /* LED OTA GREEN */
			         <MW320_PINMUX(40, 0)>, /* LED OTA RED */
			         <MW320_PINMUX(41, 0)>, /* LED WIFI BLUE */
			         <MW320_PINMUX(42, 0)>, /* LED WIFI GREEN */
			         <MW320_PINMUX(43, 0)>, /* LED WIFI RED */
			         <MW320_PINMUX(22, 0)>, /* SW WIFI */
			         <MW320_PINMUX(23, 0)>, /* SW OTA */
			         <MW320_PINMUX(0, 0)>,  /* GPIO0 */
			         <MW320_PINMUX(1, 0)>,  /* GPIO1 */
			         <MW320_PINMUX(46, 0)>, /* GPIO46 */
			         <MW320_PINMUX(48, 0)>, /* GPIO48 */
			         <MW320_PINMUX(49, 0)>, /* GPIO49 */
			         <MW320_PINMUX(25, 0)>, /* XTAL32K IN */
			         <MW320_PINMUX(26, 0)>; /* XTAL32K OUT */
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
	pinctrl-0 = <&gpio_default>;
	pinctrl-names = "default";
};

&gpio1 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};
